body {
    margin: 0;
    height: 100vh;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}


.wrapper {
    padding: 50px;
}

.clickbox {
    background-color: lightsteelblue;
    margin: 10px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease, margin 0.4s ease;
}

.active {
    background-color: yellow;
    margin: 50px; }